.paragraph {
  font-size: 18px;
}

.bold_text {
  font-size: 18px;
  font-family: "Moul", serif !important;
  line-height: 1.6;
}

.bold_smaller_text {
  font-size: 16px;
  font-family: "Moul", serif !important;
  margin: 13px 25px;
  line-height: 1.6;
}
.font_Moul{
  font-family: "Moul", serif !important;
}
